<%- include('partials/header')%>
<body>
    
    <div class="container mt-5">
        <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
    </div>
    <div class="container-fluid p-5">
        <h1 class="text-center"> Add Menu</h1>
        <!-- <% if(alert.msg){ %>
          <div class="alert alert-danger" role="alert">
              <%= alert.msg %>
          </div>
        <% } %> -->
        <form action="/menus/add" method="POST">
            <div class="form-group">
              <label>Menu Name</label>
              <input name="name" type="text" class="form-control" placeholder="e.g: Lemper Ayam">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input name="price" type="text" class="form-control" placeholder="e.g: 2500">
            </div>
           
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/menus"><button type="button" class="btn btn-danger">Cancel</button></a>
        </form>
    </div>

</body>
</html>