<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Page Error - 404!</h1>
        
        <p class="lead">We are sorry for the inconvenience, there has been an unfortunate mistake of data proccessing.</p>
        <hr class="my-4">
        <p>Please select option below for further informations of The Order App.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Back Home</a>
        <!-- back to home aja -->
    </div>
</body>
</html>