<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our Order App!</h1>
        <p class="lead">Experience the practical use of ordering food through our Order App!</p>
        <hr class="my-4">
        <p>Please select options below for further informations of the application.</p>
        
        <a class="btn btn-primary btn-lg" href="/customers" role="button">Be Our Customer</a>
        <a class="btn btn-primary btn-lg" href="/menus" role="button">Go to Menu</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login/Register</a>
    </div>
</body>
</html>